# Local development profile without authentication
app:
  security:
    authentication:
      enabled: false

spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
